.b-profile-imagewrapper {
	border: 1px solid #eaeaea;
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
}

.b-profile-image {
	width: 400px;
}

.width500 {
	width: 500px;
}

footer {
	font-weight: 500 !important;
}

.box {
	border-radius: 0px;
	box-shadow: 0 1px 1px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.tile.is-parent {
	padding: 0.5rem;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.margin-bottom-5 {
	margin-bottom: 0.5rem !important;
}

.margin-bottom-5 a {
	text-decoration: underline;
}

.b-fonticons p {
	font-size: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.fontSize14 {
	font-size: 14px;
}

.location i {
	margin-right: 0.4em;
}

.fontSize15 {
	font-size: 15px;
}

.iconSpace a {
	margin: 0 20px;
}

.divider {
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	max-width: 1032px;
	margin-left: auto;
	margin-right: auto;
}

.b-tag span {
	text-transform: uppercase;
}

.is-fullWidth {
	width: 100%;
}